services/node-red/.flows.json.backup
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb2a946.375698","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef21d34f.54c3e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6a39aea9.60a02","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"736847d2.677cc8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"f4582114.e68f5","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf9598e9.e8de08","type":"mqtt-broker","name":"mosqitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c92bcd4.768264","type":"mqtt-broker","name":"dynamic MQTT broker","broker":"$(TESTVAR)","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb9233b9.6f0f1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0f618a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0f618a","edited":true},"page-titlebar-backgroundColor":{"value":"#0f618a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#1691cf","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0f618a","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT platform for user-involved air recirculation system","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ba86b73.eeacd8","type":"ui_group","name":"Select your GroupId","tab":"397be648.bf67da","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e1072f6.d490d","type":"ui_group","name":"Temperature","tab":"397be648.bf67da","order":2,"disp":true,"width":"6","collapse":false},{"id":"d38433d7.cbb3","type":"ui_tab","name":"SystemStatus","icon":"dashboard","disabled":false,"hidden":false},{"id":"66a9d1f.d4a1e3","type":"ui_group","name":"System Status","tab":"d38433d7.cbb3","order":1,"disp":true,"width":"6","collapse":false},{"id":"397be648.bf67da","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f07a221.29cfee","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"989c40f8.1c5d","type":"ui_group","name":"Node1","tab":"f07a221.29cfee","order":1,"disp":true,"width":"6","collapse":false},{"id":"a450a6ff.5ece48","type":"mqtt-dynamic-broker","broker":"${MQTT_BROKER}","port":"${MQTT_PORT}","clientid":""},{"id":"591e3b44.9fe604","type":"ui_group","name":"Humidity","tab":"397be648.bf67da","order":3,"disp":true,"width":"6","collapse":false},{"id":"38d2a97b.7b2196","type":"http request","z":"f6f2187d.f17ca8","name":"catalog/getAllGroupId","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getAllGroupId","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":400,"wires":[["3184a87a.308f68"]]},{"id":"b689225f.d7f39","type":"ui_dropdown","z":"f6f2187d.f17ca8","name":"","label":"Select GroupId","tooltip":"","place":"","group":"8ba86b73.eeacd8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":840,"y":420,"wires":[["e5ce7581.bef968","8a94ef7d.78fd","e1b04511.3323b8"]]},{"id":"3184a87a.308f68","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":400,"wires":[["b689225f.d7f39","e5ce7581.bef968"]]},{"id":"f61f6f6e.2d55f","type":"http request","z":"4bb2a946.375698","name":"catalog/getBroker","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getBroker","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["895a9c83.253ce","bc7ef586.b9f4d8","8210c209.e84e2","3b25463c.5b6b5a"]]},{"id":"895a9c83.253ce","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Broker","format":"{{msg.payload.uri}}","layout":"row-spread","x":650,"y":200,"wires":[]},{"id":"bc7ef586.b9f4d8","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Port","format":"{{msg.payload.port}}","layout":"row-spread","x":650,"y":240,"wires":[]},{"id":"9a0cf15e.b6f8d","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":260,"y":200,"wires":[["f61f6f6e.2d55f"]]},{"id":"a347830a.c7e21","type":"http request","z":"4bb2a946.375698","name":"catalog/getSystemStatus","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getSystemStatus","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":380,"wires":[["53fe2dab.eee244","4523eb97.7c1e94"]]},{"id":"5be23ec5.f6bdf","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["a347830a.c7e21"]]},{"id":"ddbd204a.54066","type":"ui_gauge","z":"4bb2a946.375698","name":"CPU Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":380,"wires":[]},{"id":"53fe2dab.eee244","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["ddbd204a.54066"]]},{"id":"4523eb97.7c1e94","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memory","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["f41c71c5.8f5c9"]]},{"id":"f41c71c5.8f5c9","type":"ui_gauge","z":"4bb2a946.375698","name":"Memory Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"Memory Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":440,"wires":[]},{"id":"5fa755f.c2c84ac","type":"ui_text","z":"f6f2187d.f17ca8","group":"8ba86b73.eeacd8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":160,"wires":[]},{"id":"7a5ec0b6.500d3","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Select your groupId in order to enter to your Dashboard","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["5fa755f.c2c84ac"]]},{"id":"620a2711.dddb28","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["7a5ec0b6.500d3"]]},{"id":"7b8844e9.82930c","type":"change","z":"f6f2187d.f17ca8","name":"ping json","rules":[{"t":"set","p":"payload.serviceServiceList[0]","pt":"msg","to":"{\"serviceType\":\"REST\",\"serviceIP\":\"\",\"servicePort\":80,\"endPoint\":[{\"type\":\"web\",\"uri\":\"/\",\"parameter\":[]},{\"type\":\"web\",\"uri\":\"/ui\",\"parameter\":[]}]}","tot":"json"},{"t":"set","p":"payload.serviceServiceList[0].serviceIP","pt":"msg","to":"payload.internalIPv4","tot":"jsonata"},{"t":"set","p":"payload.serviceName","pt":"msg","to":"NODE-RED","tot":"str"},{"t":"set","p":"payload.serviceType","pt":"msg","to":"SERVICE","tot":"str"},{"t":"delete","p":"payload.internalIPv4","pt":"msg"},{"t":"set","p":"payload.serviceId","pt":"msg","to":"serviceId","tot":"global"},{"t":"set","p":"payload.serviceSubType","pt":"msg","to":"NODERED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[["ea8b40b7.ce0c6","5efd72a0.244d0c"]]},{"id":"a0254271.3506c","type":"inject","z":"f6f2187d.f17ca8","name":"catalog ping","props":[{"p":"payload"},{"p":"topic","v":"{\"serviceName\":\"NODE-RED\",\"serviceServiceList\":[{\"serviceType\":\"REST\",\"serviceIP\":\"127.0.0.1\",\"servicePort\":8080,\"endPoint\":[{\"type\":\"web\",\"uri\":\"/\",\"parameter\":[]}]}]}","vt":"json"}],"repeat":"60","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":220,"y":900,"wires":[["7937fe72.c4e7e"]]},{"id":"7937fe72.c4e7e","type":"ip","z":"f6f2187d.f17ca8","name":"get ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":370,"y":900,"wires":[["7b8844e9.82930c"]]},{"id":"ea8b40b7.ce0c6","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/ping","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":900,"wires":[["ead1513d.dab75","4ac80e90.3ff21"]]},{"id":"ead1513d.dab75","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":900,"wires":[]},{"id":"4ac80e90.3ff21","type":"change","z":"f6f2187d.f17ca8","name":"set serviceId","rules":[{"t":"set","p":"serviceId","pt":"global","to":"payload.serviceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":960,"wires":[[]]},{"id":"5efd72a0.244d0c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":960,"wires":[]},{"id":"8210c209.e84e2","type":"change","z":"4bb2a946.375698","name":"save global brokerUri and brokerPort","rules":[{"t":"set","p":"brokerUri","pt":"global","to":"payload.uri","tot":"jsonata"},{"t":"set","p":"brokerPort","pt":"msg","to":"payload.port","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[[]]},{"id":"3b25463c.5b6b5a","type":"debug","z":"4bb2a946.375698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"8af465f7.3a97d8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":340,"wires":[]},{"id":"e5ce7581.bef968","type":"function","z":"f6f2187d.f17ca8","name":"generate MQTT topic","func":"msg.topic = \"/iot-programming-2343/\" + msg.payload + \"/#\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":400,"wires":[["8af465f7.3a97d8","b057c9ae.774a88"]]},{"id":"b057c9ae.774a88","type":"mqtt-dynamic in","z":"f6f2187d.f17ca8","name":"","broker":"a450a6ff.5ece48","x":390,"y":620,"wires":[["4f883492.cb81ec"]]},{"id":"d98b5237.c4d49","type":"ui_ui_control","z":"f6f2187d.f17ca8","name":"","events":"all","x":180,"y":400,"wires":[["38d2a97b.7b2196"]]},{"id":"56e07b00.80a664","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"8e1072f6.d490d","order":0,"width":0,"height":0,"label":"Live temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1970,"y":600,"wires":[[]]},{"id":"4f883492.cb81ec","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":true,"x":570,"y":620,"wires":[["936a8dfc.40312","d193741b.3f88f8"]]},{"id":"8a94ef7d.78fd","type":"change","z":"f6f2187d.f17ca8","name":"clean","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":520,"wires":[["e39e2038.011a3","778fe6b7.a78168","14fdacfe.9bad13","56e07b00.80a664"]]},{"id":"e39e2038.011a3","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"8e1072f6.d490d","order":1,"width":0,"height":0,"gtype":"gage","title":"Current temp","label":"celsius","format":"{{value}} °","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"28","x":1950,"y":660,"wires":[]},{"id":"778fe6b7.a78168","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"591e3b44.9fe604","order":0,"width":0,"height":0,"label":"Live humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1950,"y":720,"wires":[[]]},{"id":"14fdacfe.9bad13","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"591e3b44.9fe604","order":1,"width":0,"height":0,"gtype":"gage","title":"Current humidity","label":"","format":"{{value}} %","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"100","x":1960,"y":780,"wires":[]},{"id":"936a8dfc.40312","type":"function","z":"f6f2187d.f17ca8","name":"find temperature","func":"found = false;\n\nmsg.payload.e.forEach(function(elem) {\n    if (elem.n == \"temperature\") {\n        msg.payload = elem.v;\n        found = true;\n    }\n});\n\nif (found == false) {\n    delete(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":620,"wires":[["e39e2038.011a3","56e07b00.80a664"]]},{"id":"d193741b.3f88f8","type":"function","z":"f6f2187d.f17ca8","name":"find humidity","func":"found = false;\n\nmsg.payload.e.forEach(function(elem) {\n    if (elem.n == \"humidity\") {\n        msg.payload = elem.v;\n        found = true;\n    }\n});\n\nif (found == false) {\n    delete(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":680,"wires":[["778fe6b7.a78168","14fdacfe.9bad13"]]},{"id":"e1b04511.3323b8","type":"http request","z":"f6f2187d.f17ca8","name":"get THINGSPEAK","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://catalog:8080/catalog/searchByServiceSubType?serviceSubType=THINGSPEAK","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":460,"wires":[["8ec18c8f.bc197"]]},{"id":"8ec18c8f.bc197","type":"function","z":"f6f2187d.f17ca8","name":"generate MQTT topic","func":"msg.url = msg.payload[0].serviceServiceList[0].serviceIP + \":\" + msg.payload[0].serviceServiceList[0].servicePort\nmsg.url += \"/channel/home1/measureType/temperature/getLastDaysData?days=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":460,"wires":[["df2005a1.89fc58"]]},{"id":"df2005a1.89fc58","type":"http request","z":"f6f2187d.f17ca8","name":"thingspeak temperature","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":460,"wires":[["9e9ab825.8f6908"]]},{"id":"a8ace711.722a98","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1610,"y":380,"wires":[["e1b04511.3323b8"]]},{"id":"9e9ab825.8f6908","type":"function","z":"f6f2187d.f17ca8","name":"filter 100 items","func":"numberOfPoints = 100;\nevery=parseInt(msg.payload.feeds.length/numberOfPoints) + 1;\nvar dataarray = [[]];\ni = 0;\na = 0;\nfor (let item of msg.payload.feeds) {\n    if (i%every==0) {\n        var d = new Date(item.created_at);\n\t\tdataarray[0][a++] = {\"y\": Number(item.field1), \"x\" : d.getTime()};\n    }\n    i++;\n}\n\nvar chart = [{\n    \"series\":[\"Temperature =\"],\n    \"data\":dataarray,\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart;\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":520,"wires":[["56e07b00.80a664","d741f3e.dce231"]]},{"id":"d741f3e.dce231","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":380,"wires":[]}]