services/node-red/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb2a946.375698","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef21d34f.54c3e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6a39aea9.60a02","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"736847d2.677cc8","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"f4582114.e68f5","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf9598e9.e8de08","type":"mqtt-broker","name":"mosqitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c92bcd4.768264","type":"mqtt-broker","name":"dynamic MQTT broker","broker":"$(TESTVAR)","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb9233b9.6f0f1","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0f618a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Custom Theme","default":"#4B7930","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"IoT platform for user-involved air recirculation system","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":45,"sy":45,"gx":10,"gy":10,"cx":10,"cy":10,"px":3,"py":3}}},{"id":"8ba86b73.eeacd8","type":"ui_group","name":"Select the groupId","tab":"397be648.bf67da","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e1072f6.d490d","type":"ui_group","name":"Temperature","tab":"397be648.bf67da","order":3,"disp":true,"width":"6","collapse":false},{"id":"d38433d7.cbb3","type":"ui_tab","name":"SystemStatus","icon":"dashboard","disabled":false,"hidden":false},{"id":"66a9d1f.d4a1e3","type":"ui_group","name":"System Status","tab":"d38433d7.cbb3","order":1,"disp":true,"width":"6","collapse":false},{"id":"397be648.bf67da","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f07a221.29cfee","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"989c40f8.1c5d","type":"ui_group","name":"Node1","tab":"f07a221.29cfee","order":1,"disp":true,"width":"6","collapse":false},{"id":"a450a6ff.5ece48","type":"mqtt-dynamic-broker","broker":"${MQTT_BROKER}","port":"${MQTT_PORT}","clientid":""},{"id":"591e3b44.9fe604","type":"ui_group","name":"Humidity","tab":"397be648.bf67da","order":4,"disp":true,"width":"6","collapse":false},{"id":"62eb583b.c0e688","type":"ui_group","name":"Co2","tab":"397be648.bf67da","order":5,"disp":true,"width":"6","collapse":false},{"id":"f02f6aa2.0bd0e8","type":"ui_group","name":"Configuration","tab":"397be648.bf67da","order":2,"disp":true,"width":"6","collapse":false},{"id":"38d2a97b.7b2196","type":"http request","z":"f6f2187d.f17ca8","name":"catalog/getAllGroupId","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getAllGroupId","tls":"","persist":false,"proxy":"","authType":"","x":280,"y":400,"wires":[["6ab30401.89c41c"]]},{"id":"b689225f.d7f39","type":"ui_dropdown","z":"f6f2187d.f17ca8","name":"","label":"Select GroupId","tooltip":"","place":"","group":"f02f6aa2.0bd0e8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":840,"y":400,"wires":[["e5ce7581.bef968","9e431a31.a263d8","b317f6a3.297b08"]]},{"id":"f61f6f6e.2d55f","type":"http request","z":"4bb2a946.375698","name":"catalog/getBroker","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getBroker","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["895a9c83.253ce","bc7ef586.b9f4d8","8210c209.e84e2","3b25463c.5b6b5a"]]},{"id":"895a9c83.253ce","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Broker","format":"{{msg.payload.uri}}","layout":"row-spread","x":650,"y":200,"wires":[]},{"id":"bc7ef586.b9f4d8","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Port","format":"{{msg.payload.port}}","layout":"row-spread","x":650,"y":240,"wires":[]},{"id":"9a0cf15e.b6f8d","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":260,"y":200,"wires":[["f61f6f6e.2d55f"]]},{"id":"a347830a.c7e21","type":"http request","z":"4bb2a946.375698","name":"catalog/getSystemStatus","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getSystemStatus","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":380,"wires":[["53fe2dab.eee244","4523eb97.7c1e94"]]},{"id":"5be23ec5.f6bdf","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["a347830a.c7e21"]]},{"id":"ddbd204a.54066","type":"ui_gauge","z":"4bb2a946.375698","name":"CPU Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":380,"wires":[]},{"id":"53fe2dab.eee244","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["ddbd204a.54066"]]},{"id":"4523eb97.7c1e94","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memory","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["f41c71c5.8f5c9"]]},{"id":"f41c71c5.8f5c9","type":"ui_gauge","z":"4bb2a946.375698","name":"Memory Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"Memory Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":440,"wires":[]},{"id":"5fa755f.c2c84ac","type":"ui_text","z":"f6f2187d.f17ca8","group":"f02f6aa2.0bd0e8","order":1,"width":"0","height":"0","name":"Select groupId","label":"","format":"Select your groupId in order to enter to your Dashboard","layout":"row-left","x":400,"y":520,"wires":[]},{"id":"7b8844e9.82930c","type":"change","z":"f6f2187d.f17ca8","name":"ping json","rules":[{"t":"set","p":"payload.serviceServiceList[0]","pt":"msg","to":"{\"serviceType\":\"REST\",\"serviceIP\":\"\",\"servicePort\":80,\"endPoint\":[{\"type\":\"web\",\"uri\":\"/\",\"parameter\":[]},{\"type\":\"web\",\"uri\":\"/ui\",\"parameter\":[]}]}","tot":"json"},{"t":"set","p":"payload.serviceServiceList[0].serviceIP","pt":"msg","to":"payload.internalIPv4","tot":"jsonata"},{"t":"set","p":"payload.serviceName","pt":"msg","to":"NODE-RED","tot":"str"},{"t":"set","p":"payload.serviceType","pt":"msg","to":"SERVICE","tot":"str"},{"t":"delete","p":"payload.internalIPv4","pt":"msg"},{"t":"set","p":"payload.serviceId","pt":"msg","to":"serviceId","tot":"global"},{"t":"set","p":"payload.serviceSubType","pt":"msg","to":"NODERED","tot":"str"},{"t":"set","p":"payload.serviceId","pt":"msg","to":"NODERED-1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":660,"wires":[["ea8b40b7.ce0c6","5efd72a0.244d0c"]]},{"id":"a0254271.3506c","type":"inject","z":"f6f2187d.f17ca8","name":"catalog ping","props":[{"p":"payload"},{"p":"topic","v":"{\"serviceName\":\"NODE-RED\",\"serviceServiceList\":[{\"serviceType\":\"REST\",\"serviceIP\":\"127.0.0.1\",\"servicePort\":8080,\"endPoint\":[{\"type\":\"web\",\"uri\":\"/\",\"parameter\":[]}]}]}","vt":"json"}],"repeat":"60","crontab":"","once":true,"onceDelay":"2","topic":"","payload":"","payloadType":"date","x":200,"y":660,"wires":[["7937fe72.c4e7e"]]},{"id":"7937fe72.c4e7e","type":"ip","z":"f6f2187d.f17ca8","name":"get ip","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":370,"y":660,"wires":[["7b8844e9.82930c"]]},{"id":"ea8b40b7.ce0c6","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/ping","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":660,"wires":[["ead1513d.dab75","4ac80e90.3ff21"]]},{"id":"ead1513d.dab75","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":660,"wires":[]},{"id":"4ac80e90.3ff21","type":"change","z":"f6f2187d.f17ca8","name":"set serviceId","rules":[{"t":"set","p":"serviceId","pt":"global","to":"payload.serviceId","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":720,"wires":[[]]},{"id":"5efd72a0.244d0c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":720,"wires":[]},{"id":"8210c209.e84e2","type":"change","z":"4bb2a946.375698","name":"save global brokerUri and brokerPort","rules":[{"t":"set","p":"brokerUri","pt":"global","to":"payload.uri","tot":"jsonata"},{"t":"set","p":"brokerPort","pt":"msg","to":"payload.port","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":140,"wires":[[]]},{"id":"3b25463c.5b6b5a","type":"debug","z":"4bb2a946.375698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"e5ce7581.bef968","type":"function","z":"f6f2187d.f17ca8","name":"generate MQTT topic","func":"msg.topic = \"/iot-programming-2343/\" + msg.payload + \"/#\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":540,"wires":[["b057c9ae.774a88"]]},{"id":"b057c9ae.774a88","type":"mqtt-dynamic in","z":"f6f2187d.f17ca8","name":"","broker":"a450a6ff.5ece48","x":1290,"y":540,"wires":[["4f883492.cb81ec"]]},{"id":"d98b5237.c4d49","type":"ui_ui_control","z":"f6f2187d.f17ca8","name":"","events":"connect","x":60,"y":400,"wires":[["38d2a97b.7b2196"]]},{"id":"56e07b00.80a664","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"8e1072f6.d490d","order":0,"width":0,"height":0,"label":"Internal temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2660,"y":160,"wires":[[]]},{"id":"4f883492.cb81ec","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":true,"x":1490,"y":540,"wires":[["936a8dfc.40312","d193741b.3f88f8","75e61349.05a18c","61a97817.d42f28"]]},{"id":"e39e2038.011a3","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"8e1072f6.d490d","order":1,"width":0,"height":0,"gtype":"gage","title":"Current temp","label":"celsius","format":"{{value}} °","min":"-40","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"28","x":1990,"y":580,"wires":[]},{"id":"778fe6b7.a78168","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"591e3b44.9fe604","order":0,"width":0,"height":0,"label":"Internal humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2640,"y":200,"wires":[[]]},{"id":"14fdacfe.9bad13","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"591e3b44.9fe604","order":1,"width":0,"height":0,"gtype":"gage","title":"Current humidity","label":"","format":"{{value}} %","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"100","x":2000,"y":620,"wires":[]},{"id":"936a8dfc.40312","type":"function","z":"f6f2187d.f17ca8","name":"find temperature","func":"found = false;\nif (msg.payload.sensor_position == \"internal\") {\n    msg.payload.e.forEach(function(elem) {\n        if (elem.n == \"temperature\") {\n            msg.payload = elem.v;\n            found = true;\n        }\n    });\n}\n\nif (found == false) {\n    delete(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":580,"wires":[["e39e2038.011a3"]]},{"id":"d193741b.3f88f8","type":"function","z":"f6f2187d.f17ca8","name":"find humidity","func":"found = false;\nif (msg.payload.sensor_position == \"internal\") {\n    msg.payload.e.forEach(function(elem) {\n        if (elem.n == \"humidity\") {\n            msg.payload = elem.v;\n            found = true;\n        }\n    });\n}\n\nif (found == false) {\n    delete(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1710,"y":620,"wires":[["14fdacfe.9bad13"]]},{"id":"e1b04511.3323b8","type":"http request","z":"f6f2187d.f17ca8","name":"get THINGSPEAK","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://catalog:8080/catalog/searchByServiceSubType?serviceSubType=THINGSPEAK","tls":"","persist":false,"proxy":"","authType":"","x":1270,"y":400,"wires":[["af4fba8d.b2f828","813e8deb.b0aef"]]},{"id":"75e61349.05a18c","type":"function","z":"f6f2187d.f17ca8","name":"find co2","func":"found = false;\nif (msg.payload.sensor_position == \"internal\") {\n    msg.payload.e.forEach(function(elem) {\n        if (elem.n == \"co2\") {\n            msg.payload = elem.v;\n            found = true;\n        }\n    });\n}\n\nif (found == false) {\n    delete(msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1700,"y":540,"wires":[["9da057d0.a79a78"]]},{"id":"1276e77.8d4c219","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"62eb583b.c0e688","order":0,"width":0,"height":0,"label":"Internal co2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2630,"y":240,"wires":[[]]},{"id":"9da057d0.a79a78","type":"ui_gauge","z":"f6f2187d.f17ca8","name":"","group":"62eb583b.c0e688","order":1,"width":0,"height":0,"gtype":"gage","title":"Current co2","label":"celsius","format":"{{value}}","min":"0","max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"380","seg2":"650","x":1990,"y":540,"wires":[]},{"id":"9e431a31.a263d8","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"groupId","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":400,"wires":[["e1b04511.3323b8"]]},{"id":"f98894c0.dd9578","type":"ui_slider","z":"f6f2187d.f17ca8","name":"Minute to visualize in the graph","label":"Minutes","tooltip":"minute","group":"f02f6aa2.0bd0e8","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"10","max":"1440","step":1,"x":770,"y":320,"wires":[["e1114ba7.52b308"]]},{"id":"e1114ba7.52b308","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"maxChartMinutes","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":320,"wires":[["e1b04511.3323b8"]]},{"id":"7e605dd0.f37384","type":"ui_text","z":"f6f2187d.f17ca8","group":"f02f6aa2.0bd0e8","order":4,"width":0,"height":0,"name":"Minute to visualize in the graph","label":"","format":"Minute to visualize in the graph","layout":"row-left","x":770,"y":280,"wires":[]},{"id":"aebc50c7.765a5","type":"ui_text","z":"f6f2187d.f17ca8","group":"f02f6aa2.0bd0e8","order":3,"width":0,"height":0,"name":"divider","label":"","format":"--------------------------------------------------","layout":"row-left","x":180,"y":520,"wires":[]},{"id":"8a059e9d.0e13e","type":"ui_text","z":"f6f2187d.f17ca8","group":"f02f6aa2.0bd0e8","order":6,"width":0,"height":0,"name":"Element to visualize in the graph","label":"","format":"Element to visualize in the graph","layout":"row-left","x":770,"y":180,"wires":[]},{"id":"81955ed1.461f","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"maxChartItems","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":220,"wires":[["e1b04511.3323b8"]]},{"id":"c66a519c.2ebe2","type":"ui_slider","z":"f6f2187d.f17ca8","name":"Element to visualize in the graph","label":"Element","tooltip":"element","group":"f02f6aa2.0bd0e8","order":7,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","topicType":"str","min":"10","max":"200","step":1,"x":770,"y":220,"wires":[["81955ed1.461f"]]},{"id":"f25449e3.6f4748","type":"function","z":"f6f2187d.f17ca8","name":"default minutes","func":"maxChartMinutes = flow.get(\"maxChartMinutes\");\nif (!maxChartMinutes) { maxChartMinutes = 600;}\nmsg.payload = maxChartMinutes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":320,"wires":[["f98894c0.dd9578"]]},{"id":"9c133634.259618","type":"function","z":"f6f2187d.f17ca8","name":"default elements","func":"maxChartMinutes = flow.get(\"maxChartItems\");\nif (!maxChartMinutes) { maxChartMinutes = 600;}\nmsg.payload = maxChartMinutes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["c66a519c.2ebe2"]]},{"id":"af4fba8d.b2f828","type":"function","z":"f6f2187d.f17ca8","name":"get internal devices","func":"var groupId = flow.get(\"groupId\");\nmaxChartMinutes = flow.get(\"maxChartMinutes\");\nif (!maxChartMinutes) { maxChartMinutes = 600;}\n\nmsg.url = msg.payload[msg.payload.length - 1].serviceServiceList[0].serviceIP + \":\" + msg.payload[0].serviceServiceList[0].servicePort\nmsg.url += \"/group/\" + groupId + \"/getInternalFeeds?minutes=\"+maxChartMinutes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1510,"y":240,"wires":[["ff3bd8dd.00fff8"]]},{"id":"ff3bd8dd.00fff8","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1740,"y":240,"wires":[["f456ab30.71cd88","22ab0cdc.8bf8a4","fa36ad24.973e6"]]},{"id":"292100e.d5e6","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1730,"y":400,"wires":[["948400ae.ef40f","28a8d53d.a3894a","eb6d5604.063b08"]]},{"id":"813e8deb.b0aef","type":"function","z":"f6f2187d.f17ca8","name":"get external devices","func":"var groupId = flow.get(\"groupId\");\nmaxChartMinutes = flow.get(\"maxChartMinutes\");\nif (!maxChartMinutes) { maxChartMinutes = 600;}\n\nmsg.url = msg.payload[msg.payload.length - 1].serviceServiceList[0].serviceIP + \":\" + msg.payload[0].serviceServiceList[0].servicePort\nmsg.url += \"/group/\" + groupId + \"/getExternalFeeds?minutes=\"+maxChartMinutes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":400,"wires":[["292100e.d5e6"]]},{"id":"f456ab30.71cd88","type":"function","z":"f6f2187d.f17ca8","name":"filter x temp items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"temperature\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\": series\n}];\nflow.set(\"temperatureArray\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2410,"y":160,"wires":[["56e07b00.80a664","42bb20b0.fa6d9"]]},{"id":"22ab0cdc.8bf8a4","type":"function","z":"f6f2187d.f17ca8","name":"filter x humidity items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"humidity\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\": series\n}];\nflow.set(\"humidityArray\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2420,"y":200,"wires":[["778fe6b7.a78168","189f124a.0de9fe"]]},{"id":"fa36ad24.973e6","type":"function","z":"f6f2187d.f17ca8","name":"filter x co2 items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"co2\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\": series\n}];\nflow.set(\"humidityArray\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":240,"wires":[["1276e77.8d4c219","71be8c79.63e304","3b55b08.15fa75"]]},{"id":"43d3febc.9b117","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"8e1072f6.d490d","order":0,"width":0,"height":0,"label":"External temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2200,"y":340,"wires":[[]]},{"id":"fa2afcb2.810db","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"591e3b44.9fe604","order":0,"width":0,"height":0,"label":"External humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2190,"y":380,"wires":[[]]},{"id":"17de5d5d.3628c3","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"62eb583b.c0e688","order":0,"width":0,"height":0,"label":"External co2","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2170,"y":420,"wires":[[]]},{"id":"eb6d5604.063b08","type":"function","z":"f6f2187d.f17ca8","name":"filter x temp items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"temperature\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\":series\n}];\nflow.set(\"temperatureArray\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1970,"y":340,"wires":[["43d3febc.9b117"]]},{"id":"28a8d53d.a3894a","type":"function","z":"f6f2187d.f17ca8","name":"filter x humidity items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"humidity\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\":series\n}];\nflow.set(\"humidityArray\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":380,"wires":[["fa2afcb2.810db"]]},{"id":"948400ae.ef40f","type":"function","z":"f6f2187d.f17ca8","name":"filter x co2 items","func":"var dataarray = [];\nfor(var i=0; i<msg.payload.length; i++) {\n    dataarray[i] = [];\n}\n\nvar alLeastOne = false;\n\nvar series = []\nvar idx_data = 0;\nfor (let channel of msg.payload) {\n    series.push(channel.channel.name)\n    \n    // find field name for ..\n    var fieldName = \"\";\n    if (channel.channel) {\n        for (i = 1; i < 9 && fieldName == \"\"; i++) {\n            if (channel.channel.hasOwnProperty(\"field\"+i) && channel.channel[\"field\"+i] == \"co2\") {\n                fieldName = \"field\"+i;\n            }\n        }\n    }\n    \n    //skip management\n    maxChartItems = flow.get(\"maxChartItems\");\n    if (!maxChartItems) { maxChartItems = 10;}\n    skipEvery = parseInt(channel.feeds.length/maxChartItems) + 1;\n    var i = 0;\n    \n\tvar a = 0;\n    for (let feed of channel.feeds) {\n        if (feed.hasOwnProperty(fieldName) && i++ % skipEvery == 0) {\n            var d = new Date(feed.created_at);\n            dataarray[idx_data][a++] = {\"y\": Number(feed[fieldName]), \"x\" : d.getTime()};\n            alLeastOne = true;\n        }\n    }\n    idx_data++;\n}\n\nvar chart = [{\n    \"series\": series,\n    \"data\":dataarray,\n    \"labels\":series\n}];\nflow.set(\"co2\", chart);\nmsg.payload = chart;\n\nif(!alLeastOne) {\n    msg.enabled = false;\n}\nelse {\n    msg.enabled = true;\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":420,"wires":[["17de5d5d.3628c3"]]},{"id":"6ab30401.89c41c","type":"function","z":"f6f2187d.f17ca8","name":"extract list","func":"let lista = []\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i < arrayLength; i++) {\n    lista.push(msg.payload[i][\"groupId\"]);\n}\nmsg.options = lista;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":400,"wires":[["b689225f.d7f39","ae59afdd.96fec"]]},{"id":"53bc36ff.db8918","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":460,"wires":[["38d2a97b.7b2196"]]},{"id":"ae59afdd.96fec","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = msg.options[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":440,"wires":[["b689225f.d7f39"]]},{"id":"71be8c79.63e304","type":"function","z":"f6f2187d.f17ca8","name":"","func":"let len = msg.payload[0].data[0].length;\n\nmsg.payload = msg.payload[0].data[0][len-1].y;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2500,"y":440,"wires":[["9da057d0.a79a78"]]},{"id":"189f124a.0de9fe","type":"function","z":"f6f2187d.f17ca8","name":"","func":"let len = msg.payload[0].data[0].length;\n\nmsg.payload = msg.payload[0].data[0][len-1].y;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2420,"y":500,"wires":[["14fdacfe.9bad13"]]},{"id":"42bb20b0.fa6d9","type":"function","z":"f6f2187d.f17ca8","name":"","func":"let len = msg.payload[0].data[0].length;\n\nmsg.payload = msg.payload[0].data[0][len-1].y;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":560,"wires":[["e39e2038.011a3"]]},{"id":"b317f6a3.297b08","type":"function","z":"f6f2187d.f17ca8","name":"reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1790,"y":860,"wires":[["9da057d0.a79a78","17de5d5d.3628c3","fa2afcb2.810db","43d3febc.9b117","e39e2038.011a3","14fdacfe.9bad13","1276e77.8d4c219","778fe6b7.a78168","56e07b00.80a664"]]},{"id":"3b55b08.15fa75","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2800,"y":360,"wires":[]},{"id":"61a97817.d42f28","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1830,"y":720,"wires":[]}]