services/node-red/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb2a946.375698","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ef21d34f.54c3e","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f4582114.e68f5","type":"mqtt-broker","name":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf9598e9.e8de08","type":"mqtt-broker","name":"mosqitto","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5c92bcd4.768264","type":"mqtt-broker","name":"dynamic MQTT broker","broker":"$(TESTVAR)","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb9233b9.6f0f1","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ba86b73.eeacd8","type":"ui_group","name":"Select your GroupId","tab":"397be648.bf67da","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e1072f6.d490d","type":"ui_group","name":"GroupId","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"d38433d7.cbb3","type":"ui_tab","name":"SystemStatus","icon":"dashboard","disabled":false,"hidden":false},{"id":"66a9d1f.d4a1e3","type":"ui_group","name":"System Status","tab":"d38433d7.cbb3","order":1,"disp":true,"width":"6","collapse":false},{"id":"397be648.bf67da","type":"ui_tab","name":"SelectGroupId","icon":"dashboard","disabled":false,"hidden":false},{"id":"f07a221.29cfee","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"989c40f8.1c5d","type":"ui_group","name":"Node1","tab":"f07a221.29cfee","order":1,"disp":true,"width":"6","collapse":false},{"id":"38d2a97b.7b2196","type":"http request","z":"f6f2187d.f17ca8","name":"catalog/getAllGroupId","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getAllGroupId","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":400,"wires":[["3184a87a.308f68"]]},{"id":"a5d402ff.58904","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":200,"y":400,"wires":[["38d2a97b.7b2196"]]},{"id":"b689225f.d7f39","type":"ui_dropdown","z":"f6f2187d.f17ca8","name":"","label":"Select GroupId","tooltip":"","place":"Select option","group":"8ba86b73.eeacd8","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":840,"y":400,"wires":[[]]},{"id":"3184a87a.308f68","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":400,"wires":[["b689225f.d7f39","b3e2f0.c7eafd1"]]},{"id":"b3e2f0.c7eafd1","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":460,"wires":[]},{"id":"f61f6f6e.2d55f","type":"http request","z":"4bb2a946.375698","name":"catalog/getBroker","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getBroker","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":200,"wires":[["895a9c83.253ce","bc7ef586.b9f4d8"]]},{"id":"895a9c83.253ce","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Broker","format":"{{msg.payload.uri}}","layout":"row-spread","x":650,"y":200,"wires":[]},{"id":"bc7ef586.b9f4d8","type":"ui_text","z":"4bb2a946.375698","group":"66a9d1f.d4a1e3","order":2,"width":"0","height":"0","name":"","label":"Port","format":"{{msg.payload.port}}","layout":"row-spread","x":650,"y":240,"wires":[]},{"id":"9a0cf15e.b6f8d","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":260,"y":200,"wires":[["f61f6f6e.2d55f"]]},{"id":"a347830a.c7e21","type":"http request","z":"4bb2a946.375698","name":"catalog/getSystemStatus","method":"GET","ret":"obj","paytoqs":"ignore","url":"catalog:8080/catalog/getSystemStatus","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":380,"wires":[["53fe2dab.eee244","4523eb97.7c1e94"]]},{"id":"5be23ec5.f6bdf","type":"inject","z":"4bb2a946.375698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":80,"y":380,"wires":[["a347830a.c7e21"]]},{"id":"ddbd204a.54066","type":"ui_gauge","z":"4bb2a946.375698","name":"CPU Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":380,"wires":[]},{"id":"53fe2dab.eee244","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cpu","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["ddbd204a.54066"]]},{"id":"4523eb97.7c1e94","type":"change","z":"4bb2a946.375698","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.memory","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":440,"wires":[["f41c71c5.8f5c9"]]},{"id":"f41c71c5.8f5c9","type":"ui_gauge","z":"4bb2a946.375698","name":"Memory Usage","group":"66a9d1f.d4a1e3","order":2,"width":0,"height":0,"gtype":"gage","title":"Memory Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":440,"wires":[]},{"id":"41d04370.9c6f8c","type":"ui_button","z":"f6f2187d.f17ca8","name":"button groupId","group":"8ba86b73.eeacd8","order":1,"width":0,"height":0,"passthru":false,"label":"Continue","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":280,"wires":[["ae7ec759.10cbc8"]]},{"id":"63cc7bde.a6c914","type":"ui_ui_control","z":"f6f2187d.f17ca8","name":"change to Home","events":"change","x":630,"y":280,"wires":[[]]},{"id":"ae7ec759.10cbc8","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":280,"wires":[["63cc7bde.a6c914"]]},{"id":"5fa755f.c2c84ac","type":"ui_text","z":"f6f2187d.f17ca8","group":"8ba86b73.eeacd8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":160,"wires":[]},{"id":"7a5ec0b6.500d3","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Select your groupId in order to enter to your Dashboard","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["5fa755f.c2c84ac"]]},{"id":"620a2711.dddb28","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":190,"y":160,"wires":[["7a5ec0b6.500d3"]]},{"id":"8424f0a6.3e355","type":"ui_gauge","z":"ef21d34f.54c3e","name":"","group":"989c40f8.1c5d","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":160,"wires":[]}]